<VirtualHost *:8888>
        ServerAdmin admin@mydomain.tld
        DocumentRoot /full-path-to/phpGridcoin/public
        ServerName api.mydomain.tld

        ErrorLog /full-path-to/phpGridcoin/logs/apache.error.log
        CustomLog /full-path-to/phpGridcoin/logs/apache.access.log combined

        <Directory "/full-path-to/phpGridcoin/public">
                Options Indexes FollowSymLinks
                AllowOverride None
                Require all granted

                RewriteEngine On
                RewriteCond %{ENV:REDIRECT_STATUS} 200
                RewriteRule .* - [L]

                RewriteCond %{SCRIPT_FILENAME} !-d
                RewriteCond %{SCRIPT_FILENAME} !-f
                RewriteRule wallet /wallet/v1/index.php [QSA,END]
        </Directory>
</VirtualHost>
